
html, body {
    height: 100%; width: 100%; padding: 0; margin: 0;
}

* {box-sizing: border-box;}

#app {
    height: 100%; width: 100%; padding: 0; margin: 0;
}

#appContainer {
    height: 100%; width: 100%; padding: 0; margin: 0;
    display: flex; flex-flow: column;
}
.app-container-row {
    display: flex; flex-flow: row; width: 100%; //height: 100%;
    background-color: #EEE1C9;
}

.mtu-canvas-container {
    width: 100%; height: 100%; display: flex; flex-flow: column; justify-content: center; align-items: center;
    padding: 20px;
    background-color: gray;
}

.mtu-canvas {
    size: 21cm 29.7cm;
    height: 21cm;
    width : 29.7cm;
    // padding: 100px;
    background-color: white;
    position: relative;
    box-sizing: border-box;
}
.mtu-canvas-row {
    display: flex; flex-flow: row; width: 100%;
}
.mtu-canvas-element {
    position: absolute;
}

.mtu-input-container {
    width: 300px;
    height: 100%;
    padding: 5px;
    display: flex; flex-flow: column;
}

.mtu-input {
    display: flex; flex-flow: column;
    padding: 5px;
    margin-bottom: 10px;
}

.mtu-input-label {
    margin-bottom: 5px;
    font-family: sans-serif;
    font-weight: bold;
    font-size: 12px;
}

.mtu-input-component {
    font-family: sans-serif;
    font-size: 12px;
    padding: 3px;
    line-height: 100%;
    vertical-align: middle;
}

.PosterSettings {
    justify-content: center;
}

.PDFPreview {

}


.effect2
{
  position: relative;
}
.effect2:before, .effect2:after
{
  z-index: -1;
  position: absolute;
  content: "";
  bottom: 15px;
  left: 10px;
  width: 50%;
  top: 80%;
  max-width:300px;
  background: #777;
  -webkit-box-shadow: 0 15px 10px #777;
  -moz-box-shadow: 0 15px 10px #777;
  box-shadow: 0 15px 10px #777;
  -webkit-transform: rotate(-3deg);
  -moz-transform: rotate(-3deg);
  -o-transform: rotate(-3deg);
  -ms-transform: rotate(-3deg);
  transform: rotate(-3deg);
}
.effect2:after
{
  -webkit-transform: rotate(3deg);
  -moz-transform: rotate(3deg);
  -o-transform: rotate(3deg);
  -ms-transform: rotate(3deg);
  transform: rotate(3deg);
  right: 10px;
  left: auto;
}



.effect6
{
    position:relative;
    -webkit-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
       -moz-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
            box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
}
.effect6:before, .effect6:after
{
    content:"";
    position:absolute;
    z-index:-1;
    -webkit-box-shadow:0 0 20px rgba(0,0,0,0.8);
    -moz-box-shadow:0 0 20px rgba(0,0,0,0.8);
    box-shadow:0 0 20px rgba(0,0,0,0.8);
    top:50%;
    bottom:0;
    left:10px;
    right:10px;
    -moz-border-radius:100px / 10px;
    border-radius:100px / 10px;
}
.effect6:after
{
    right:10px;
    left:auto;
    -webkit-transform:skew(8deg) rotate(3deg);
       -moz-transform:skew(8deg) rotate(3deg);
        -ms-transform:skew(8deg) rotate(3deg);
         -o-transform:skew(8deg) rotate(3deg);
            transform:skew(8deg) rotate(3deg);
}


.TemplateGallery {
    width: 100%;
    // height: 100%;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-content: center;


    .TemplateGalleryRow {
        width: 100%;
        display: flex;
        flex-flow: row;
        justify-content: center;
        align-items: center;
    }

    .TemplateThumb {
        background-color: white;
        border: solid 1px rgba(0,0,0,0.21);
        margin: 20px;
    }
    .TemplateThumb:hover {
        box-shadow: 0 0 0.5cm rgba(0,0,0,0.25);
    }
    .landscape {
        width: 297px;
        min-width: 297px;
        height: 210px;
        min-height: 210px;
    }
    .portrait {
        height: 297px;
        min-height: 297px;
        width: 210px;
        min-width: 210px;
    }
}
